*{
	margin: 0;
	padding: 0;
}
body{
	min-height: 100vh;
	font-family: Verdana;
	background: rgb(89, 97, 97);
}
.contianer{
	width: 100vw;
	height: 100vh;
	color: #fff;
}
.content{
	padding: 10px;
	text-align: justify;
}
